#habit-grid td, #habit-grid th {
  border: 1px solid #E5E7EB;
  text-align: center;
  width: 32px;
  height: 32px;
}

th {
  background: #F1F3F5;
  position: sticky;
  top: 0;
  z-index: 1;
}

input[type="checkbox"] {
  cursor: pointer;
}

